.fullmenu { }
#cssmenu { background: url('../images/bg-menu.png') repeat-x left top; border-radius: 6px; box-shadow: 0 2px 3px #c8c9cb; font-family: Roboto,Arial,Tahoma,sans-serif; z-index: 99; padding: 0 10px; max-width: 1024px; margin: 0 auto !important; }
    #cssmenu,
    #cssmenu ul,
    #cssmenu ul li,
    #cssmenu ul li a,
    #cssmenu #menu-button { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
        #cssmenu:after,
        #cssmenu > ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
        #cssmenu #menu-button { display: none; }
        #cssmenu > ul { width: 100%; margin: auto auto; }
        #cssmenu.align-right > ul > li { float: right; }
        #cssmenu > ul > li { margin-right: 1px; float: left; display: inline-block; }
            #cssmenu > ul > li:last-child { background: none; }
        #cssmenu.align-center > ul { float: none; text-align: center; }
            #cssmenu.align-center > ul > li { float: none; }
        #cssmenu.align-center ul ul { text-align: left; }
        #cssmenu > ul > li > a { text-transform: uppercase; padding: 0 30px; text-decoration: none; font: 16px/38px Roboto,Arial,Tahoma; color: #414042; }
        #cssmenu > ul > li:hover > a span,
        #cssmenu > ul > li > a:hover span,
        #cssmenu > ul > li.active > a span { color: #ED1C24; font-weight: bold; }
        #cssmenu > ul > li.has-sub.active > a::after,
        #cssmenu > ul > li.has-sub:hover > a { border-top-color: #ffffff; }
        #cssmenu ul ul { position: absolute; left: -9999px; top: 0; padding-top: 16px; font-size: 15px; opacity: 0; -webkit-transition: top 0.2s ease, opacity 0.2s ease-in; -moz-transition: top 0.2s ease, opacity 0.2s ease-in; -ms-transition: top 0.2s ease, opacity 0.2s ease-in; -o-transition: top 0.2s ease, opacity 0.2s ease-in; transition: top 0.2s ease, opacity 0.2s ease-in; }
        #cssmenu.align-right ul ul { text-align: right; }
        #cssmenu > ul > li > ul::after { content: ""; position: absolute; }
        #cssmenu.align-right > ul > li > ul::after { left: auto; right: 20px; }
        #cssmenu ul ul ul::after { content: ""; position: absolute; width: 0; height: 0; border: 5px solid transparent; border-right-color: #ffffff; top: 11px; left: -4px; }
        #cssmenu.align-right ul ul ul::after { border-right-color: transparent; border-left-color: #ffffff; left: auto; right: -4px; }
        #cssmenu > ul > li > ul { /*top: 30px;*/ }
        #cssmenu > ul > li:hover > ul { top: 28px; left: 0; opacity: 1; }
        #cssmenu.align-right > ul > li:hover > ul { left: auto; right: 0; }
        #cssmenu ul ul ul { padding-top: 0; padding-left: 6px; }
        #cssmenu.align-right ul ul ul { padding-right: 6px; }
        #cssmenu ul ul > li:hover > ul { left: 220px; top: 0; opacity: 1; }
        #cssmenu.align-right ul ul > li:hover > ul { left: auto; right: 100%; opacity: 1; }
        #cssmenu ul ul li a { text-decoration: none; font-weight: 400; padding: 11px 25px; width: 220px; color: #58585b; background: #ffffff; box-shadow: 0 2px 3px #222; }
        #cssmenu ul ul li:hover > a,
        #cssmenu ul ul li.active > a { color: #d71920; }
        #cssmenu ul ul li:first-child > a { border-top-left-radius: 3px; border-top-right-radius: 3px; }
        #cssmenu ul ul li:last-child > a { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
        #cssmenu > ul > li > ul::after { position: absolute; display: block; }
        #cssmenu ul ul li.has-sub > a::after { content: ""; position: absolute; width: 0; height: 0; border: 4px solid transparent; border-left-color: #777777; right: 17px; top: 14px; }
        #cssmenu.align-right ul ul li.has-sub > a::after { border-left-color: transparent; border-right-color: #777777; right: auto; left: 17px; }
        #cssmenu ul ul li.has-sub.active > a::after,
        #cssmenu ul ul li.has-sub:hover > a::after { border-left-color: #333333; }
        #cssmenu.align-right ul ul li.has-sub.active > a::after,
        #cssmenu.align-right ul ul li.has-sub:hover > a::after { border-right-color: #333333; border-left-color: transparent; }
